body{color:white; background-color:rgb(0, 51, 102); margin-top:10%}
.dadblock{width:285px; margin:auto}
.block{border-radius: 10%; font-family: calibri; color:white; background-color:rgb(12,175,94); border: 2px solid white; padding:10px}
.maintitleblock{text-align:center; letter-spacing:5px; color: orange}
.titleblock{text-align:center; letter-spacing:5px}
.sessionmsg{font-family: calibri; color:yellow; text-align:center}
.textbox{background-color:orange}
.button{font-family: calibri; font-size: 15px; color:white; background-color: red; border: 2px solid black; border-radius: 50px;}
.button:hover{color:black; background-color: yellow; border:2px solid black}
.link a{font-family: calibri; font-size: 15px; color:white; background-color: darkblue; display: block;
    text-decoration: none;
    text-align: center;
    border: 2px solid black;
    border-radius: 50px;
    width:30%}
.link a:hover{color:black; background-color: yellow; border:2px solid black}

.mainlink a{
    width: 285px; 
    margin: auto;
    width:30%;
    background-color: red
}
.mainlink a:hover{
    background-color: yellow
}